[user]
	email = pieter.vandermeijden@lavalamp.biz
	name = Pieter
[alias]
	alias = "!git config --global alias.$1 \"$2\" #"
	chekcout = checkout
	ch = checkout
	stash-checkout = "!git stash -q && ( git checkout $@ && git pull; git stash pop -q  ) #"
	sch = stash-checkout
	fzf = "!git checkout $(git branch | fzf)"
	checout = checkout
	amend = commit --amend
	history = "!git log --pretty=format:\"[%h] %ae, %ar: %s\" --stat"
	brach = branch
	b = branch
	m = merge
	latest = "!git tag latest -f && git push --tag -f"
	dotfiles = "!dotfilesRanFromWorkingDirectory=$(pwd) && cd ~/.dotfiles && (git $@; cd $dotfilesRanFromWorkingDirectory) #"
	a = "!if [ \"$#\" -eq 0 ]; then git add .; else git add $@; fi; git status #"
	p = push
	s = status
	pl = "!git stash; (git fetch && git pull); git stash pop"
	rem = remote
	cmmt = commit
	cmt = commit
	c = commit
	cl = clone
	unstage = reset
	remove = reset
	f = fetch
[core]
	editor = nvim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[pull]
	rebase = true
