[user]
	email = 21083972+Pietietjie@users.noreply.github.com
	name = Pieter
[alias]
	alias = "!git config --global alias.$1 \"$2\" #"
	chekcout = checkout
	ch = checkout
	ch-pck = cherry-pick
	stash-checkout = "!git stash -q && ( git checkout $@ && git pull; git stash pop -q  ) #"
	sch = stash-checkout
	fzf-b = "!echo $(git branch -a | fzf) | sed \"s/^remotes\\/[a-zA-Z]\\+\\///\" | sed \"s/ -> .*//\""
	fzf-rb = "!git rebase -i $(git fzf-b)"
	fzf = "!git checkout $(git fzf-b)"
	fzf-m = "!git merge $(git branch -a | fzf)"
	checout = checkout
	amend = commit --amend
	history = "!git log --pretty=format:\"[%h] %ae, %ar: %s\" --stat"
	brach = branch
	b = branch
	m = merge
	latest = "!git tag latest -f && git push --tag -f"
	tp = "!git push && git push --tags"
	dotfiles = "!dotfilesRanFromWorkingDirectory=$(pwd) && cd ~/.dotfiles && (git $@; cd $dotfilesRanFromWorkingDirectory) #"
	a = "!if [ \"$#\" -eq 0 ]; then git add .; else git add $@; fi; git status -s #"
	ac = "!git add . && git commit --verbose"
	p = push
	s = "! git status -s"
	pl = "! git fetch && git pull"
	rem = remote
	cmmt = commit
	cmt = commit
	c = "commit --verbose"
	cl = clone
	unstage = reset
	remove = reset
	f = fetch
	cl-b = "!git branch | grep -v $(git rev-parse --abbrev-ref HEAD) | xargs git branch -D"
	ups = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	rst = reset
	rstr = restore
	srstr = "!if [ \"$#\" -eq 0 ]; then git restore . --staged; else git restore $@ --staged; fi; git status -s #"
	tagls = "!git for-each-ref --sort=creatordate --format '%(refname) %(creatordate)' refs/tags | sed 's/^refs\\/tags\\///'"
	rb = rebase
[core]
	editor = nvim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[pull]
	rebase = true
[rerere]
	enabled = true
[http]
	postBuffer = 524288000
