[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".dotfiles_private"]
	path = .dotfiles_private
	url = git@github.com:Pietietjie/.dotfiles_private.git
